body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}

button{
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
}

#score {
    margin: 20px 0;
    font-size: 24px;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 200px;
}